In [1]:
import numpy as np
import pandas as pd

## Predicción para Kaggle

In [174]:
# Descargar de kaggle el archivo test.csv
df_pred_Kaggle = pd.read_csv('test.csv')

In [ ]:
# Verificar que contiene la columna id
df_pred_Kaggle[['id']]

        id
0        0
1        1
2        2
3        3
4        4
...    ...
6816  6816
6817  6817
6818  6818
6819  6819
6820  6820

[6821 rows x 1 columns]

In [179]:
# Realizar prediccion con .predict_proba (considerar la segunda columna)
# Aqui hacemos una prediccion random
df_pred_Kaggle['Atraso'] = np.random.rand(len(df_pred_Kaggle))

In [181]:
# Data frame con id y prediccion. Las columna deben llamarse 'id' y 'Atraso'
df_pred_Kaggle[['id','Atraso']]

        id    Atraso
0        0  0.564203
1        1  0.388312
2        2  0.403040
3        3  0.731815
4        4  0.341510
...    ...       ...
6816  6816  0.869313
6817  6817  0.416517
6818  6818  0.846080
6819  6819  0.549779
6820  6820  0.296280

[6821 rows x 2 columns]

In [180]:
# Guardar el data frame en un archivo .csv (subir este archivo a kaggle)
df_pred_Kaggle[['id','Atraso']].to_csv('sample_submission_test.csv', index=False)